<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg fixed-top navbar-dark nav-pills" id="mainnav" role="navigation" style="background-color: #381336;">
        <div class="container">
        	<a class="navbar-brand" href="/"><strong>/or/null</strong></a>
        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            	<span class="navbar-toggler-icon"></span>
        	</button>
        	<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            	<ul class="navbar-nav justify-content-end nav-pills">
                	<li class="nav-item "><a class="nav-link text-white" href="/stream1">Парковка на просп. Ленина</a></li>
									<!--<li class="nav-item "><a class="nav-link text-white" href="/stream2">Парковка у ЖД вокзала</a></li>
                  <li class="nav-item "><a class="nav-link text-white" href="/stream3">Парковка на ул. Анохина</a></li>-->
                	<li class="nav-item "><a class="nav-link text-white" href="/upload_video">Загрузить видео</a></li>
            	</ul>
        	</div>
    	</div>
	</nav>
	<div class="jumbotron jumbotron-fluid">
    	<div class="row">
        	<div class="hidden-xs hidden-sm col-md-4 col-lg-4 pull-left">
        	</div>
        	<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        	<h1 class="display-4">Количество парковочных мест отображается в реальном времени</h1>
        	<!--<p class="lead">Можно что то еще написать</p>-->
        	</div>
    	</div>
	</div>
	<div class="jumbotron jumbotron-fluid" style="width: 100%; margin: 0 auto;">
		<div id="parkingMap" style="margin: 0 auto; width: 80%; height: 700px; border-radius: 10px; box-shadow: 0 0 10px #444;"></div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
	<script>
		var parkUrls = ['{{ park_urls[0] }}']
		var spaceUrls = ['{{ space_urls[0] }}']
		var tags = ['']
		var parks = [null]
		ymaps.ready(init);

		var refresher = setInterval(function() {
			var x = new XMLHttpRequest();
			x.open("GET", spaceUrls[0], false);
			x.send()
			if (x.status == 200) {
				tags[0] = 'пр. Ленина (' + x.responseText + ')';
			} else {
				tags[0] = 'пр. Ленина';
			}
			if (parks[0] != null) {
				parks[0].properties.set('iconContent', tags[0])
			}

		}, 1000);

		function init() {
		    var map = new ymaps.Map ('parkingMap', {
		        center: [61.7896559,34.3619819],
		        zoom: 17
		    });

				var x = new XMLHttpRequest();
				x.open("GET", spaceUrls[0], false);
				x.send()
				if (x.status == 200) {
					tags[0] = 'пр. Ленина (' + x.responseText + ')';
				} else {
					tags[0] = 'пр. Ленина';
				}

		    parks[0] = new ymaps.Placemark([61.7896559,34.3619819], {
		      iconContent: tags[0],
		    }, {
		      preset: 'islands#blueStretchyIcon'
		    });
		    var park1Polygon = new ymaps.Polygon([[
		      [61.7895613,34.3617549],
		      [61.7897365,34.3622872],
		      [61.7897659,34.3622313],
		      [61.7895903,34.3616741]
		    ]]);
		    map.geoObjects.add(parks[0]);
		    parks[0].events.add('click', function(){
		      window.location.replace(parkUrls[0]);
		    });

		    map.geoObjects.add(park1Polygon);
		}
	</script>
</body>
</html>
